<div class="container">
  <header>
    <h2>Ajouter un formateur</h2>
  </header>
  <form #formateurForm="ngForm" (ngSubmit)="addFormateur(formateurForm.value)">
    <ul>
      <li>
        <label for="name">Nom</label>
        <input type="text" name="name" id="name" placeholder="Nom" ngModel required>
      </li>
      
      <li>
        <label for="surname">Prenom</label>
        <input type="text" name="surname" id="surname" placeholder="Prenom" ngModel required>
      </li>
      
      <li>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="E-mail" ngModel required>
      </li>
      
      <li>
        <label for="expertise">Expertise</label>
        <input type="text" name="expertise" id="expertise" placeholder="Expertise" ngModel required>
      </li>
      
    </ul>
    <button type="submit" [disabled]="!formateurForm.form.valid">Modifier</button>
  </form>
</div>
  