<div>
        <div>
          <a><img class="icon-action" src="/assets/refresh.png" /></a>
          <a routerLink="/admin/add-formateur" ><img class="icon-action" src="/assets/add.png" /></a>
        </div>
        <div>
          <table class="formateur-table">
            <thead>
              <tr>
                <th> Liste des formateurs</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let formateur of formateurs">
                <td class="formateur-row">
                  <div>
                    <span class="cell">Nom: {{formateur.name}}</span>
                    <span class="cell">Prenom: {{formateur.surname}}</span>
                    <span class="cell">Email: {{formateur.email}}</span>
                    <span class="cell">Expertise: {{formateur.expertise}}</span>
                  </div>
                  <div>
                    <a [routerLink]="['/admin/edit-formateur', formateur.id]"><img class="icon-action" src="/assets/edit.png" /></a>
                    <a (click)="onDelete(formateur.id)"><img class="icon-action" src="/assets/delete.png" /></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      