<div>
  <div>
    <img class="icon-action" src="/assets/refresh.png" />
    <a routerLink="/admin/add-participant" routerLinkActive="active"><img class="icon-action" src="/assets/add.png" /></a>
  </div>
  <div>
    <table class="formateur-table">
      <thead>
        <tr>
          <th> Liste des participants</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participant of participants">
          <td class="formateur-row">
            <div>
              <span class="cell">Nom: {{participant.name}}</span>
              <span class="cell">Prenom: {{participant.surname}}</span>
              <span class="cell">Email: {{participant.email}}</span>
              <span class="cell">Societe: {{participant.societe}}</span>
              <span class="cell">Poste: {{participant.post}}</span>
            </div>
            <div>
              <a [routerLink]="['/admin/edit-participant', participant.id]"><img class="icon-action" src="/assets/edit.png" /></a>
              <a (click)="onDelete(participant.id)"><img class="icon-action" src="/assets/delete.png" /></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
