<div>
  <div>
    <img class="icon-action" src="/assets/refresh.png" />
    <a routerLink="/admin/participant/add" routerLinkActive="active"><img class="icon-action" src="/assets/add.png" /></a>
  </div>
  <div>
    <table class="formateur-table">
      <thead>
        <tr>
          <th> Liste des formateurs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="formateur-row">
            <div>
              <span class="cell">Nom</span>
              <span class="cell">Prenom</span>
              <span class="cell">Adresse</span>
              <span class="cell">Email</span>
              <span class="cell">societé</span>
              <span class="cell">post</span>

            </div>
            <div>
              <a href="#"><img class="icon-action" src="/assets/edit.png" /></a>
              <a href="#"><img class="icon-action" src="/assets/delete.png" /></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
